/*PLP Badges*/


/*Long banner Mutiple colors*/
.width100{width: 100%; float: left; text-align: center; padding-top: 3px; padding-bottom: 3px}.width100 p{padding-bottom: 0; margin-bottom: 0; font-size: .875rem; font-weight: 700;}.red-d{background-color: #d71920}.yellow-d{background-color: #fff33e}.orange-d{background-color: #f78932}.purple-d{background-color: #a059b7}.blue-d{background-color: #315cb8}.black-d{background-color: #000}.black-d p,.blue-d p,.orange-d p,.purple-d p,.red-d p{color: #fff}.yellow-d p{color: #353535 !important}.swiper-slide .badges .width100 p{font-size: 1.1rem}.subandsave-d{background-color: #034694; color: #fff; position: relative; overflow: hidden;}.subandsave-d p::before{content: url('subandsave-d.svg?$staticlink$'); width: 6%; top: 5px; position: absolute; left: 52px;}

@-moz-document url-prefix() {
    .subandsave-d p::before {
        width: 5.5% !important;
       left: 49px !important;
} 
  }

/*Assewmbly Required*/
.banner-85d{width:70px;height:70px}.st031{fill:#CD2027}.banner-85d .banner_text{width:100%;position:absolute;left:0;color:#fff;top:19px;text-align:center;font-weight:600;font-size:.78rem;line-height:17px;pointer-events:none}@media only screen and (max-width:767px){.banner-85d{max-width:40px!important;width:40px!important;height:40px!important}.banner-85d .banner_text{left: 0; color: #fff; top: 13px; font-weight: 500; font-size: .42rem; line-height: 8px; }}


/*Deal of the Day*/
.dealoftheday-d{width: 70px; height: 70px;}.dealofthedaycircle{fill:#184895;stroke:#ED1C24;stroke-width:2;stroke-miterlimit:10;}.dotdt{width: 100%; position: absolute; font-size: 0.9rem; color: #fff; text-align: center; font-weight: 600;}.textd-1{top: 10px;}.textd-2{top: 27px; FONT-WEIGHT: 500 !IMPORTANT; FONT-SIZE: 0.8rem;}.textd-3{top: 42px;}@media only screen and (max-width:767px){.dealoftheday-d{max-width: 40px; max-height: 40px;}.dotdt{font-size: 0.45rem;}.textd-1{top: 8px;}.textd-2{top: 18px;}.textd-3{top: 27px;}}


/*Free ASSEMBLY*/
.freeassem-d{max-width: 70px; max-height: 70px; position: relative; width: 70px; height: 70px; overflow: hidden;}.freeassemblycircle{fill:#FFFFFF;stroke:#ED1C24;stroke-width:2;stroke-miterlimit:10;}.freeassem-d svg{width: 100%;}.freeassem-text{width: 100%; position: absolute; pointer-events: none; transform: rotate(-15deg); text-align: center; font-weight: 600; font-size: 0.7rem;}.freas1{top: 12px; font-size: 1.30rem; font-weight: 800 !important; left: -2px; font-family: 'Helvetica Neue LT W05_75 Bold';}.freas2{top: 35px; left: 4px;}@media only screen and (max-width:767px){.freeassem-d{max-width: 40px; max-height: 40px;}.freas1{top: 8px; font-size: 0.7rem; left: -1px;}.freas2{top: 20px; left: 2px; font-size: 0.4rem;}}

@-moz-document url-prefix() {
    .freas2 {
      left: 2px !important;
    }
      }
    


/*WIFI Optional*/
.wifibadge{width: 100%; max-width: 70px; max-height: 70px; font-size: 5rem; width: 70px; height: 70px; position: relative; overflow: hidden;}.wifibadge svg{margin-top: -70px; width: 100%;}.wifibadge path{fill: transparent;}.wifibadge text{fill: #4481C3;}.wifist0{fill:#FFFFFF;stroke:#4481C3;stroke-width:2;stroke-miterlimit:10;}.wifist1{fill:#4481C3;}.wifist2{fill:none;stroke:#4481C3;stroke-width:4;stroke-miterlimit:10;}.wifi-container{position: absolute; z-index: 8; min-width: 82px;}.wifid1{left: -4px; top: -20px; font-size: 4.8rem;}.wifid2{left: 2px; top: 37px;}.fwifi{transform: translate(24px, -48px) rotate(0deg); font-size: 0.9rem; color: #4481C3; display: inline-block; pointer-events: none;}.wifist0st0{fill:#FFFFFF;stroke:#4481C3;stroke-width:2;stroke-miterlimit:10;}.wifist0st1{fill:#4481C3;}.wifist0st2{fill:none;stroke:#4481C3;stroke-width:4;stroke-miterlimit:10;}.wifist0st3{fill:none;}.wifist0st4{font-family:'HelveticaNeueLTStd-BdCn';}.wifist0st5{font-size:13px;}@media only screen and (max-width:767px){.wifibadge{max-width: 40px; max-height: 40px;}.wifid1{left: -13px; top: -29px;}.fwifi{font-size: 0.5rem;}.wifibadge svg{margin-top: -100px; width: 100%;}}


/*Controllable*/
.wificontrola{width: 100%;max-width: 85px;max-height: 85px;width: 70px;height: 70px;font-size: 5rem;position: relative;overflow: hidden;}.wificontrola svg{width: 97%;margin-top: -312px;}.st0_cont{fill: #4481C3;stroke: #4481C3;stroke-width: 2;stroke-miterlimit: 10;}.st1_cont{fill: #FFFFFF;}.st2_cont{fill: none;stroke: #FFFFFF;stroke-width: 4;stroke-miterlimit: 10;}.st3_cont{fill: none;}.st4_cont{font-family: 'HelveticaNeueLTStd-BdCn';}.st5_cont{font-size: 12px;}.fwifi_cont{transform: translate(20px, -73px);font-size: 0.8rem;color: #fff;display: inline-block;}@media only screen and (max-width:767px){.wificontrola{max-width: 40px;max-height: 40px;}.fwifi_cont{transform: translate(12px, -79px);font-size: 0.45rem;}.wificontrola svg{width: 97%;margin-top: -337px;}}


/*Sleep Guarantee*/
.nintydaysleep-badge{width: 100%; max-width: 70px; max-height: 70px;}.nintydaysleep-badge img{width: 100%;}@-moz-document url-prefix() {.nintydaysleep-badge img {width: 70px;}}@media only screen and (max-width:767px){.nintydaysleep-badge{width: 100%; max-width: 40px; max-height: 40px;}
@-moz-document url-prefix() {.nintydaysleep-badge img {width: 40px;}}}


/*Dog Ear*/

.dogear-d{width: 100%; max-width: 80px; max-height: 98px; margin-left: 19px; overflow: hidden; position: relative;}.dogear-d .banner_text_dog{width: 100%; position: absolute; left: 11px; color: #fff; top: 25px; text-align: center; font-weight: 600; font-size: 0.8rem; line-height: 14px; pointer-events: none; transform: rotate(45deg);}.redear-d .dogearback{fill:#CD2028;}.blueear-d .dogearback{fill:#174796;}@media only screen and (max-width:767px){.dogear-d{max-width: 40px; max-height: 40px;}.dogear-d .banner_text_dog{left: 5px; top: 16px; font-size: 0.4rem; line-height: 0px; transform: rotate(44deg);}}


/*Custom Circle*/
.banner-85da{width:70px;height:70px}
.custom-red-d{fill:#CD2027}
.custom-blue-d{fill:#315cb8}
.custom-black-d{fill:#000}
.custom-purple-d{fill:#a059b7}
.custom-yellow-d{fill:#fff33e}
.custom-orange-d{fill:#f78932}
.banner-85da .banner_text{width:100%;position:absolute;left:0;color:#fff;top:19px;text-align:center;font-weight:600;font-size:.7rem;line-height:15px;pointer-events:none}@media only screen and (max-width:767px){.banner-85da{max-width:40px!important;width:40px!important;height:40px!important}.banner-85da .banner_text{left: 0; color: #fff; top: 20px; font-weight: 500; font-size: .42rem; line-height: 8px; }}
.custom-dark-d .banner_text{color: #353535 !important;}





/*Water Filters*/
.waterfilters2023{width: 70px; height: 70px;}.dotdtaa{width: 100%;position: absolute;font-size: 0.55rem;color: #294D93;text-align: center;font-weight: 600;top: 33px;}.textd-1ad{top: 21px;font-family: 'Helvetica Neue LT W05_75 Bold';font-size: 0.7rem;}}.textd-2ad{top: 32px; FONT-WEIGHT: 500 !IMPORTANT; FONT-SIZE: 0.55rem;}.textd-3{top: 42px;}@media only screen and (max-width:767px){.dealoftheday-d{max-width: 40px; max-height: 40px;}.dotdt{font-size: 0.45rem;}.textd-1{top: 8px;}.textd-2{top: 18px;}.textd-3{top: 27px;}}
